You are a DB admin for a university and need to create an app to manage student enrollments and balance

Application should do the following
- ask the user how may new students will be added to the db
- the user should be promt to enter the name and year for each student
- The student have a 5 digit ID, with the first number being their grade level
- the students can enroll in the following courses:
    - History 101
    - Math 101
    - English 101
    - Chemistry 101
    - Computer Science 101

- Each course will cosrs $600 to enroll
- Students should be able to view their balance and pay the tuition
- To see the status of student, we should see their name, ID, courses enrolled and balance.



